@import './base.css';

body {
    background-color: #FDFDFD;
    color: #0F0F22;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    margin-top: 60px;
}

.bg {
    position: absolute;
    bottom: 0;
    left: 0;
}